.form-horizontal .control-label {
    text-align: left;
}

label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form-group {
    margin-bottom: 5px;
}

.panel-default {
    margin-top: 10px;
}

:host /deep/ .ui-column-title {
    color: red;
}